{% extends "base.html.twig" %}

{% block title %}
  <title>Créer un suivi d'actif - e-goldenboy.com</title>
{% endblock title %}


{% block title_wrapper %}
  <h2>Créer un portefeuille de suivi d'actifs</h2>
{% endblock title_wrapper %}

{% block body %}
  <div class="row">
    <div class="col-lg-4">
      {{ form_start(form) }}
        <div class="form-group">
          <label>Nom:</label>
          {% if form_errors(form.name) %}
            <span class="error">{{ form_errors(form.name) }}</span>
          {% endif %}
          {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
        </div>

        {{ form_widget(form) }}
          <button type="submit" id="btn-create-contact" class="btn btn-default">Créer</button>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
