<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">

            {{ include('Include/user-menu.html.twig') }}

            <li {% if app.request.attributes.get('_route') == 'dashboard' %}class="active"{% endif %}>
                <a href="{{ path('dashboard')}}"><i class="fa fa-home fa-fw"></i><span class="nav-label">{{ 'home'|trans }}</span></a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'converter' %}class="active"{% endif %}>
              <a href="{{ path('converter')}}"><i class="fa fa-exchange fa-fw"></i><span class="nav-label">{{ 'converter'|trans }}</span></a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'trade_new' or app.request.attributes.get('_route') == 'trade_index' %}class="active"{% endif %}>
              <a href="#"><i class="fa fa-euro fa-fw"></i><span class="nav-label">{{ 'trading_simulation'|trans }}</span><span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
                  <li {% if app.request.attributes.get('_route') == 'trade_new' %}class="active"{% endif %}>
                      <a href="{{ path('trade_new') }}"> {{ 'new'|trans }}</a>
                  </li>
                  <li {% if app.request.attributes.get('_route') == 'trade_index' %}class="active"{% endif %}>
                      <a href="{{ path('trade_index') }}"> {{ 'my_wallets'|trans }}</a>
                  </li>
              </ul>
            </li>
            <li {% if app.request.attributes.get('_route') == 'alert' %}class="active"{% endif %}>
              <a href="{{ path('alert') }}"><i class="fa fa-exclamation-circle fa-fw"></i><span class="nav-label">{{ 'my_alerts'|trans }}</span></a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'contact' %}class="active"{% endif %}>
              <a href="{{ path('contact') }}"><i class="fa fa-envelope-o fa-fw"></i><span class="nav-label">{{ 'contact'|trans }}</span></a>
            </li>

            <li {% if app.request.attributes.get('_route') == 'article_list' or app.request.attributes.get('_route') == 'where_buy' %}class="active"{% endif %}>
              <a href="#"><i class="fa fa-folder-open"></i><span class="nav-label">{{ 'articles'|trans }}</span><span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
                  <li {% if app.request.attributes.get('_route') == 'article_list' %}class="active"{% endif %}>
                      <a href="{{ path('article_list') }}"> {{ 'all_articles'|trans }}</a>
                  </li>
                  <li {% if app.request.attributes.get('_route') == 'where_buy' %}class="active"{% endif %}>
                      <a href="{{ path('where_buy') }}"> {{ 'where_buy'|trans }}</a>
                  </li>
              </ul>
            </li>

          {{ include('Include/admin-menu.html.twig') }}
        </ul>
    </div>
</nav>
