<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <div class="dropdown profile-element">
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ app.user.username }}</strong>
                      </span> <span class="text-muted text-xs block">{{ 'user'|trans }}<b class="caret"></b></span> </span> </a>
                      <ul class="dropdown-menu animated fadeInRight m-t-xs">
                          <li><a href="{{ path('fos_user_profile_show')}}">{{ 'profil'|trans }}</a></li>
                          <li class="divider"></li>
                          <li><a href="{{ path('fos_user_security_logout')}}">{{ 'logout'|trans }}</a></li>
                      </ul>
                  </div>
                {% endif %}
            </li>
            <li {% if app.request.attributes.get('_route') == 'dashboard' %}class="active"{% endif %}>
                <a href="{{ path('dashboard')}}"><i class="fa fa-home fa-fw"></i><span class="nav-label">{{ 'home'|trans }}</span></a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'converter' %}class="active"{% endif %}>
              <a href="{{ path('converter')}}"><i class="fa fa-exchange fa-fw"></i><span class="nav-label">{{ 'converter'|trans }}</span></a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'trade_new' or app.request.attributes.get('_route') == 'trade_index' %}class="active"{% endif %}>
              <a href="#"><i class="fa fa-euro fa-fw"></i><span class="nav-label">{{ 'trading_simulation'|trans }}</span><span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
                  <li {% if app.request.attributes.get('_route') == 'trade_new' %}class="active"{% endif %}>
                      <a href="{{ path('trade_new') }}"> {{ 'new'|trans }}</a>
                  </li>
                  <li {% if app.request.attributes.get('_route') == 'trade_index' %}class="active"{% endif %}>
                      <a href="{{ path('trade_index') }}"> {{ 'my_wallets'|trans }}</a>
                  </li>
              </ul>
            </li>
          <li {% if app.request.attributes.get('_route') == 'alert' %}class="active"{% endif %}>
            <a href="{{ path('alert') }}"><i class="fa fa-exclamation-circle fa-fw"></i><span class="nav-label">{{ 'my_alerts'|trans }}</span></a>
          </li>
          <li {% if app.request.attributes.get('_route') == 'contact' %}class="active"{% endif %}>
            <a href="{{ path('contact') }}"><i class="fa fa-envelope-o fa-fw"></i><span class="nav-label">{{ 'contact'|trans }}</span></a>
          </li>
          <li {% if app.request.attributes.get('_route') == 'where_buy' %}class="active"{% endif %}>
            <a href="{{ path('where_buy') }}"><i class="fa fa-info-circle  fa-fw"></i><span class="nav-label">{{ 'where_buy'|trans }}</span></a>
          </li>
          {% if is_granted('ROLE_ADMIN') %}
            <li>
              <a href="#"><i class="fa fa-wrench fa-fw"></i><span class="nav-label">Administration</span><span class="fa arrow"></span></a>
              <ul class="nav nav-second-level collapse">
                <li>
                  <a href="{{ path('admin_users') }}"> Gestion des utilisateurs</a>
                </li>
                <li>
                  <a href="{{ path('admin_wallets') }}"> Gestion des portefeuilles</a>
                </li>
                <li>
                  <a href="{{ path('admin_currencies') }}"> Gestion des crypto-Monnaie</a>
                </li>
                <li>
                  <a href="{{ path('admin_contacts') }}"> Gestion des contacts</a>
                </li>
              </ul>
            </li>
          {% endif %}
        </ul>
    </div>
</nav>
