<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% image '@AppBundle/Resources/public/image/egoldenboy.png' %}
            <img src="{{ asset_url }}" alt="Example" />
        {% endimage %}
        <a class="navbar-brand" href="{{ path('home')}}">E-GoldenBoy</a>
    </div>

    {% include('Include/user-toolbar.html.twig') %}

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="{{ path('home')}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('trade_new') }}"><i class="fa fa-euro fa-fw"></i> Simulation de trading</a>
                </li>
                <li>
                    <a href="{{ path('trade_index') }}"><i class="fa fa-folder-open fa-fw"></i> Mes portefeuilles</a>
                </li>
                <li>
                    <a href="{{ path('contact') }}"><i class="fa fa-envelope-o fa-fw"></i> Contact</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-exclamation-circle fa-fw"></i> Mes alertes</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-info-circle  fa-fw"></i> A propos</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
