<!DOCTYPE html>
<html>
    <head>
      <!--- script google --->
        {{ include('Include/google-webmastertool.html.twig') }}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}
          <title>Bienvenue sur e-goldenboy.com</title>
        {% endblock title %}
        {% block meta %}
          <meta name="description" content="{{ 'description'|trans }}" />
        {% endblock meta %}

        {% block stylesheets %}
            {% stylesheets '../app/Resources/public/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block local_stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            {{ include('Include/menu.html.twig') }}

            <div id="page-wrapper" class="gray-bg dashbard-1">
                {{ include('Include/right-top-toolbar.html.twig') }}

                {% for message in app.flashes('success-message') %}
                  <div class="alert alert-success">
                      {{ message }}
                  </div>
                {% endfor %}

                {% for message in app.flashes('error-message') %}
                  <div class="alert alert-danger">
                      {{ message }}
                  </div>
                {% endfor %}

                <div class="row  border-bottom white-bg dashboard-header">
                    <div class="col-md-12">
                        {% block title_wrapper %}
                          <h2>Tableau de bord</h2>
                        {% endblock title_wrapper %}
                    </div>
                    <div>
                      {% block body %}
                      {% endblock body %}
                    <div>
                </div>

                {{ include('Include/footer.html.twig') }}
            </div>
        </div>


        {% block javascripts %}
          {% javascripts '../app/Resources/public/js/*' %}
              <script src="{{ asset_url }}"></script>
          {% endjavascripts %}
        {% endblock %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        {% block local_javascripts %}
        {% endblock %}
    </body>
</html>
