<!DOCTYPE html>
<html>
    <head>
      <!--- script google --->
        {{ include('Include/google-webmastertool.html.twig') }}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block title %}
          <title>Bienvenue sur e-goldenboy.com</title>
        {% endblock title %}
        {% block meta %}
          <meta name="description" content="{{ 'description'|trans }}" />
        {% endblock meta %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
            <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

        {% endblock %}
        {% block local_stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            {{ include('Include/menu.html.twig') }}

            <div id="page-wrapper" class="gray-bg dashbard-1">
                {{ include('Include/right-top-toolbar.html.twig') }}

                {% for message in app.flashes('success-message') %}
                  <div class="alert alert-success">
                      {{ message }}
                  </div>
                {% endfor %}

                {% for message in app.flashes('error-message') %}
                  <div class="alert alert-danger">
                      {{ message }}
                  </div>
                {% endfor %}

                <div class="row  border-bottom white-bg dashboard-header">
                    <div class="col-md-12">
                        {% block title_wrapper %}
                          <h2>Tableau de bord</h2>
                        {% endblock title_wrapper %}
                    </div>
                    <div>
                      {% block body %}
                      {% endblock body %}
                    <div>
                </div>

                {{ include('Include/footer.html.twig') }}
            </div>
        </div>


        {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
          <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
          <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
          <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>


        {% endblock %}

        <script src="{{ asset('js/fos_js_routes.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

        {% block local_javascripts %}
        {% endblock %}
    </body>
</html>
