{% extends "base.html.twig" %}

{% block title_wrapper %}
  <h2>Nouvel ordre:</h2>
  <p>
    Valeur actuelle du {{ currency.name }}: {{ currency.priceEur|price }} €<br/>
    Montant restant: {{ wallet.euroWallet.amount|price }} €
  </p>
{% endblock title_wrapper %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#market">Ordre market</a></li>
        <li><a data-toggle="tab" href="#limit">Ordre limit</a></li>
    </ul>

    <div class="tab-content">
        <div id="market" class="tab-pane fade in active">
            {% include 'TradingOrder/form/market-form.html.twig'%}
        </div>
        <div id="limit" class="tab-pane fade">
            {% include 'TradingOrder/form/limit-form.html.twig'%}
        </div>
    </div>

    <div class="text-center">
        <a href="{{ path('trade_order_new')}}" class="btn btn-primary"><< Retour</a>
    </div>
{% endblock %}

{% block local_javascripts %}
  <script>
    const initial_price = '{{ currency.priceEur }}';
    $(document).ready(function() {
        //market
        $('input#trading_order_next_step_total').change(function() {
            var amout = this.value;
            var price = initial_price;
            var newValue = amout / price;
            $('#trading_order_next_step_amount').removeAttr("readonly").val(newValue).attr("readonly","readonly");
        });

        $('input#trading_order_next_step_sell_total').change(function() {
            var amout = this.value;
            var price = initial_price;
            var newValue = amout / price;
            $('#trading_order_next_step_sell_amount').removeAttr("readonly").val(newValue).attr("readonly","readonly");
        });

        //limit
        $('input#trading_order_next_step_buy_limit_total').change(function() {
            var amout = this.value;
            var price = initial_price;
            var newValue = amout / price;
            $('#trading_order_next_step_buy_limit_amount').val(newValue);
        });

        $('input#trading_order_next_step_buy_limit_price').change(function() {
            var amout = $('#trading_order_next_step_buy_limit_total').val();
            var price = this.value;
            var newValue = amout / price;
            $('#trading_order_next_step_buy_limit_amount').removeAttr("readonly").val(newValue).attr("readonly","readonly");
        });

        $('input#trading_order_next_step_sell_limit_total').change(function() {
            var amout = this.value;
            var price = initial_price;
            var newValue = amout / price;
            $('#trading_order_next_step_sell_limit_amount').val(newValue);
        });

        $('input#trading_order_next_step_sell_limit_price').change(function() {
            var amout = $('#trading_order_next_step_sell_limit_total').val();
            var price = this.value;
            var newValue = amout / price;
            $('#trading_order_next_step_sell_limit_amount').removeAttr("readonly").val(newValue).attr("readonly","readonly");
        });
    });
  </script>
{% endblock %}
