{% extends "::base.html.twig" %}

{% block body %}
  <div class="row">
    {{ form_errors(form) }}
    <div class="col-lg-6">
      {{ form_start(form) }}

        <div class="form-group">
          <label>Libellé du portefeuille</label>
          {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
        </div>

        <div class="form-group">
          <div class="radio">
            <label>
              {{ form_widget(form.public[0],{'attr':{'autocomplete':'off'}}) }}
              Public
            </label>
          </div>

          <div class="radio">
            <label>
              {{ form_widget(form.public[1],{'attr':{'autocomplete':'off'}}) }}
              Privé
            </label>
          </div>
        </div>

        <button type="submit" class="btn btn-default">Créer le portefeuille</button>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
