{% extends "::base.html.twig" %}

{% block title_wrapper %}
  <h2>Mes portefeuilles</h2>
{% endblock title_wrapper %}


{% block body %}
  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Liste des portefeuilles publics(cliquez pour y accéder)
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-wallets">
                      <thead>
                          <tr>
                            <th>Nom</th>
                            <th>Propriétaire</th>
                            <th>Investissement initial</th>
                            <th>Montant actuel</th>
                            <th>Date création</th>
                            <th>Gain</th>
                            <th>Gain en %</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for wallet in wallets %}
                            {% set totalWallet = 0 %}
                            {% for currencyWallet in wallet.currencyWallets %}
                              {% set totalWallet = totalWallet + (currencyWallet.amount * currencyWallet.currency.priceEur) %}
                            {% endfor %}
                            <tr class="odd gradeX">
                              <td><a href="{{ path('trade_show',{id:wallet.id}) }}">{{ wallet.name }}</a></td>
                              <td>{{ wallet.user.username }}</td>
                              <td>{{ wallet.initialAmount }}</td>
                              <td>{{ (wallet.euroWallet.amount + totalWallet)|price }}</td>
                              <td><span class='hide'>{{ wallet.createdAt|date }}</span>{{ wallet.createdAt|date("d/m/Y h:m:s")  }}</td>
                              {% set balance = (wallet.euroWallet.amount + totalWallet - wallet.initialAmount)|price %}
                              {% if balance > 0 %}
                                {% set div_class_default = "text-navy" %}
                                {% set level_default = "fa-level-up" %}
                              {% elseif balance < 0 %}
                                {% set div_class_default = "text-danger" %}
                                {% set level_default = "fa-level-down" %}
                              {% else %}
                                {% set div_class_default = "text-success" %}
                                {% set level_default = "" %}
                              {% endif %}
                              <td class="{{ div_class_default }}"><i class="fa {{ level_default }}"></i> {{ balance }}€</td>
                              <td class="{{ div_class_default }}">
                                <i class="fa {{ level_default }}"></i>
                                {% set pourcentage = 0 %}
                                {% if balance != 0 %}
                                  {% set result = wallet.euroWallet.amount + totalWallet %}
                                  {% set pourcentage =  ((result - wallet.initialAmount) / (wallet.initialAmount) * 100)|price %}
                                {% endif %}
                                {{ pourcentage }} %
                              </td>
                            </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
  </div>




{% endblock %}

{% block local_javascripts %}
  <script>
    $(document).ready(function() {
        $('#dataTables-wallets').DataTable({
            responsive: true,
            "language":{
              "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
            }
        });
    });
  </script>
{% endblock %}
