{% extends "::base.html.twig" %}

{% block title_wrapper %}
  <h2>Portefeuille: {{ tradingWallet.name }}</h2>
{% endblock title_wrapper %}

{% block body %}

  <div class="row">
    <div class="col-lg-12">
        <p>
          <a href="{{ path('trade_order_new')}}" class="btn btn-primary">Nouvel ordre</a>
        </p>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="well">
          <p>Montant total: {{ (tradingWallet.euroWallet.amount + totalCurrencies)|price }}</p>
          <p>Montant du portefeuille en euro: {{ tradingWallet.euroWallet.amount|price }}</p>
          <p>Montant total des portefeuilles en crypto-monnaie: {{ totalCurrencies }}</p>
          <p>Date création: {{ tradingWallet.createdAt|date('d/m/Y') }}</p>
          <p>Publique: {% if tradingWallet.public %}Oui{% else %}Non{% endif %}</p>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Historique des ordres d'achats
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-orders">
                      <thead>
                          <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Montant</th>
                            <th>Prix unitaire</th>
                            <th>Prix total</th>
                            <th>Status</th>
                          </tr>
                      </thead>
                      <tbody>
                            {% for tradingOrder in tradingWallet.tradingOrders %}
                              <tr class="odd gradeX">
                                <td>{{ tradingOrder.createdAt|date('d/m/Y') }}</td>
                                <td>{{ tradingOrder.orderAction.name }}</td>
                                <td>{{ tradingOrder.amount }}</td>
                                <td>{{ tradingOrder.price|price }}</td>
                                <td>{{ tradingOrder.total|price }}</td>
                                <td>{{ tradingOrder.orderStatus.name }}</td>
                              </tr>
                            {% endfor %}
                      </tbody>
                  </table>
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
  </div>

  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Portefeuilles de crypto-monnaies
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-wallets">
                    <thead>
                        <tr>
                          <th>Logo</th>
                          <th>Nom</th>
                          <th>Valeur actuelle</th>
                          <th>Solde</th>
                          <th>Valeur totale</th>
                        </tr>
                    </thead>
                      <tbody>
                          {% for currencyWallet in tradingWallet.currencyWallets %}
                            <tr class="odd gradeX">
                              <td><img  src="{{ asset('images/currency-logo/32/' ~ currencyWallet.currency.image) }}" ></td>
                              <td><a href="{{ path('currency_show',{'slug': currencyWallet.currency.slug}) }}">{{ currencyWallet.currency.name }}</a></td>
                              <td>{{ currencyWallet.currency.priceEur|price }}</td>
                              <td>{{ currencyWallet.amount }}</td>
                              <td>{{ (currencyWallet.currency.priceEur * currencyWallet.amount)|price }}</td>
                            </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
  </div>
{% endblock %}

{% block local_javascripts %}
  <script>
  $(document).ready(function() {
      var url = "https://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
      $('#dataTables-orders').DataTable({
          responsive: true,
          "ordering": false,
          "lengthMenu": [ 5, 10, 15, 50, 75, 100 ],
          "pageLength": 5,
          "language":{
            "url": url
          }
      });

      $('#dataTables-wallets').DataTable({
          responsive: true,
          "ordering": false,
          "language":{
            "url": url
          }
      });
  });
  </script>
{% endblock %}
