{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  Liste des {{ currencyMomentValues|length }} premières crypto-monnaies classés par capitalisation boursière.
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                      <thead>
                          <tr>
                            <th>Logo</th>
                            <th>Nom</th>
                            <th>Symbole</th>
                            <th>Valeur euro</th>
                            <th>Valeur dollars</th>
                            <th>Rank</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for currencyValue in currencyMomentValues %}
                            <tr class="odd gradeX">
                              <td>{% if currencyValue.currency.image is not null %}<img src="{{ asset('images/currency-logo/32/' ~ currencyValue.currency.image ) }}">{% endif %}</td>
                              <td><a href="{{ path('currency_show', {'slug': currencyValue.currency.slug }) }}">{{ currencyValue.currency.name }}</a></td>
                              <td>{{ currencyValue.currency.symbol }}</td>
                              <td>{{ currencyValue.priceEur|round(2, 'floor')}}</td>
                              <td>{{ currencyValue.priceUsd|round(2, 'floor') }}</td>
                              <td>{{ currencyValue.rank }}</td>
                            </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
  </div>

  <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
              Vous aimez ce que nous faisons ? Les donations sont bienvenues:
            </div>
            <div class="panel-body">
                <p>
                  <ul class="donation">
                    <li><img height="20" width="20" src="{{ asset('images/currency-logo/32/bitcoin.png' ) }}">&nbsp;BTC: 3AsutUrSfKQLuDtX6LNMAJEB9DGBH5Psn2</li>
                    <li><img height="20" width="20" src="{{ asset('images/currency-logo/32/ethereum.png' ) }}">&nbsp;ETH: 0x8a34C78956aA06118Db711985Dd871f2B5D569Ac</li>
                    <li><img height="20" width="20" src="{{ asset('images/currency-logo/32/litecoin.png' ) }}">&nbsp;LTC: LdyCjfi48QYywxpTGZ4j6fRSMGy4LiFEvZ</li>
                    <li><img height="20" width="20" src="{{ asset('images/currency-logo/32/monero.png' ) }}">&nbsp;XMR: 4GdoN7NCTi8a5gZug7PrwZNKjvHFmKeV11L6pNJPgj5QNEHsN6eeX3DaAQFwZ1ufD4LYCZKArktt113W7QjWvQ7CWBv5SdaC5uoRAzoSAd</li>
                    <li><img height="20" width="20" src="{{ asset('images/currency-logo/32/verge.png' ) }}">&nbsp;XVG: DC2mgAudncwYzLFaZkpaYVy6TdE6XvYLRe</li>
                    <li><img height="20" width="20" src="{{ asset('images/currency-logo/32/ripple.png' ) }}">&nbsp;XPR: rLHzPsX6oXkzU2qL12kHCH8G8cnZv1rBJh, Destination tag: 2799708467</li>
                  </ul>
                </p>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block local_javascripts %}
  <script>
  $(document).ready(function() {
      $('#dataTables-example').DataTable({
          responsive: true,
          "ordering": false,
          "language":{
            "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
          }
      });
  });
  </script>
{% endblock %}
