{% extends "::base.html.twig" %}

{% block local_stylesheets %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block title %}
  <title>Convertisseur - e-goldenboy.com</title>
{% endblock title %}


{% block title_wrapper %}
  <h1 class="page-header">Convertisseur de crypto-monnaies</h1>
{% endblock title_wrapper %}

{% block body %}
  <div class="row">
    <div class="col-lg-6">
      {{ form_start(form) }}

        <div class="form-group col-lg-2">
          <label>Nombre de device</label>
          {{ form_widget(form.amount,{'attr':{'class':'form-control'}}) }}
        </div>

        <div class="form-group col-lg-2">
          <label>Choix de la device</label>
          {{ form_widget(form.currency,{'attr':{'class':'form-control js-select-currency'}}) }}
        </div>

        <div class="form-group col-lg-2">
          <label>Résultat en euro</label>
          {{ form_widget(form.result,{'attr':{'class':'form-control'}}) }}
        </div>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}


{% block local_javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <script>
  $(document).ready(function() {
      $('.js-select-currency').select2();

      $('#converter_amount').change(function(e){
        var amount = $('#converter_amount').val();
        if(isNaN(amount))
          return;

        var currency = $('#converter_currency :selected').text().split(':')[1].replace(/\s/g,'');
        if(isNaN(currency))
          return;

        $('#converter_result').val(Math.ceil((amount * currency) * 100) / 100);
      })
  });
  </script>
{% endblock %}
