{% extends "::base.html.twig" %}

{% block title %}
  <title>Mes alertes - e-goldenboy.com</title>
{% endblock title %}

{% block meta %}
  <meta name="description" content="Module d'alerte du site e-goldenboy.com. Permet d'être prévenu lorsqu'une crypto-monnaie atteint le seuil que vous lui avez fixé." />
{% endblock meta %}

{% block title_wrapper %}
  <h2>Mes alertes en cours</h2>
{% endblock title_wrapper %}

{% block body %}
  <div class="row">
      <div class="col-lg-3 new-alert">
        <a class="btn btn-primary" href="{{ path('alert_new') }}">Créer une alerte</a>
      </div>
      <div class="col-lg-12">
          <div class="panel panel-default">
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <table width="100%" class="table table-striped table-bordered table-hover" id="data-tables-alerts">
                      <thead>
                          <tr>
                            <th>id</th>
                            <th>Prix</th>
                            <th>Achat</th>
                            <th>Monnaie</th>
                            <th>Supprimer</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for alert in alerts %}
                            <tr class="odd gradeX">
                              <td>{{ alert.id }}</td>
                              <td>{{ alert.price|price }}</td>
                              <td>{% if alert.buy %}Achat{% else %}Vente{% endif %}</td>
                              <td>{{ alert.currency.name }}</td>
                                <td><p class="fa fa-times-circle" style="cursor:pointer;" data-toggle="modal" data-target="#removeAlert" data-id="{{ alert.id }}"></p></td>
                            </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
              <!-- /.panel-body -->
          </div>
          <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
  </div>

  <div class="modal fade" id="removeAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Suppression d'alerte</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="POST">
          <div class="modal-body">
            Etes-vous sûr de vouloir supprimer votre alerte ?<br/>
            La suppression est définitive
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary">Confirmer</button>
          </div>
        </form>
      </div>
    </div>
  </div>


{% endblock %}

{% block local_javascripts %}
  <script>
  $(document).ready(function() {


      $('#removeAlert').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        $(this).find('form').attr('action', Routing.generate('alerte_delete', { id: id }));
      })

      $('#data-tables-alerts').DataTable({
          responsive: true,
          "language":{
            "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
          }
      });
  });
  </script>
{% endblock %}
